<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="static/styles/index.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <!-- <div class = "topnav">
        <div class = "topnavleft">
            <image class = "navimg" src = "static\assets\gitamlogo.png"></image>
        </div>
        <div class = "topnavright">
            <h2 class = "navgitamh2">GAT-2022</h2>
            <h4 class = "navgitamh4">GITAM Admission Test</h4>
        </div>
    </div> -->
    <nav class="navbar navbar-light bg-light">
    <div class="navbar-brand">
        <img src="static\assets\gitamlogo.png" width="300" height="100" alt="Image Logo">
    </div>
    <div class="app-image float-right">
        <h2 class = "GAT2022">GAT-2022</h2>
        <h5 class = 'admissiontest'>GITAM Admission Test</h5>
    </div>
    </nav>
    <div class="banner container">
        <image src = 'static\assets\gatbanner.jpg' width="1100" height="400" alt="Image Logo"></image>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="admissions_inner">
            <h2 class="title_heading text-center">Admissions </h2>
            <hr>
            <ul>
                <li>
                    <a href="https://gat.gitam.edu/architecture" target="_blank" rel="noopener">
                        <img class="img-fluid ls-is-cached lazyloaded" src="https://www.gitam.edu/campus_cms/assets/images/1613540811_admission.png" title="Architecture" alt="GITAM admisions images">
                    </a>
                    <h5>
                        <a href="https://gat.gitam.edu/architecture" target="_blank" rel="noopener"><span>Architecture</span></a>
                         <br>B.Arch., M.Arch.                        </h5>
                </li>
                <li>
                    <a href="https://gat.gitam.edu/engineering" target="_blank" rel="noopener">
                        <img class="img-fluid ls-is-cached lazyloaded" src="https://www.gitam.edu/campus_cms/assets/images/1556536189_admission.png" title="Engineering" alt="GITAM admisions images">
                    </a>
                    <h5>
                        <a href="https://gat.gitam.edu/engineering" target="_blank" rel="noopener"><span>Engineering</span></a>
                         <br>B.Tech., M.Tech.                        </h5>
                </li>
                <li>
                    <a href="https://gat.gitam.edu/Liberalarts/" target="_blank" rel="noopener">
                        <img class="img-fluid ls-is-cached lazyloaded" src="https://www.gitam.edu/campus_cms/assets/images/1613542256_admission.png" title="Humanities and Social Sciences" alt="GITAM admisions images">
                    </a>
                    <h5>
                        <a href="https://gat.gitam.edu/Liberalarts/" target="_blank" rel="noopener"><span>Humanities and Social Sciences</span></a>
                         <br>B.A., M.A.                         </h5>
                </li>
                <li>
                    <a href="https://gat.gitam.edu/law/" target="_blank" rel="noopener">
                        <img class="img-fluid ls-is-cached lazyloaded" src="https://www.gitam.edu/campus_cms/assets/images/1613542539_admission.png" title="Law" alt="GITAM admisions images">
                    </a>
                    <h5>
                        <a href="https://gat.gitam.edu/law/" target="_blank" rel="noopener"><span>Law</span></a>
                         <br>BA.LLB (HONS), BBA.LLB (HONS), LLM                        </h5>
                </li>
                
                <li>
                    <a href="https://gat.gitam.edu/management" target="_blank" rel="noopener">
                        <img class="img-fluid ls-is-cached lazyloaded" src="https://www.gitam.edu/campus_cms/assets/images/1613542833_admission.png" title="Management " alt="GITAM admisions images">
                    </a>
                    <h5>
                        <a href="https://gat.gitam.edu/management" target="_blank" rel="noopener"><span>Management </span></a>
                         <br>MBA, BBA                        </h5>
                </li>
                
                <li>
                    <a href="https://gat.gitam.edu/nurse/" target="_blank" rel="noopener">
                        <img class="img-fluid ls-is-cached lazyloaded" src="https://www.gitam.edu/campus_cms/assets/images/1613543057_admission.png" title="Nursing" alt="GITAM admisions images">
                    </a>
                    <h5>
                        <a href="https://gat.gitam.edu/nurse/" target="_blank" rel="noopener"><span>Nursing</span></a>
                         <br>B. Sc., M. Sc. (NPCC)                        </h5>
                </li>
                <li>
                    <a href="https://gat.gitam.edu/paramedical/" target="_blank" rel="noopener">
                        <img class="img-fluid ls-is-cached lazyloaded" src="https://www.gitam.edu/campus_cms/assets/images/1613543299_admission.png" title="Paramedical " alt="GITAM admisions images">
                    </a>
                    <h5>
                        <a href="https://gat.gitam.edu/paramedical/" target="_blank" rel="noopener"><span>Paramedical </span></a>
                         <br>B. Sc. Paramedical                        </h5>
                </li>
                
                <li>
                    <a href="https://gat.gitam.edu/pharmacy" target="_blank" rel="noopener">
                        <img class="img-fluid ls-is-cached lazyloaded" src="https://www.gitam.edu/campus_cms/assets/images/1613543561_admission.png" title="Pharmacy " alt="GITAM admisions images">
                    </a>
                    <h5>
                        <a href="https://gat.gitam.edu/pharmacy" target="_blank" rel="noopener"><span>Pharmacy </span></a>
                         <br>B.Pharm, M.Pharm.                         </h5>
                </li>
                <li>
                    <a href="https://gat.gitam.edu/Physiotherapy/" target="_blank" rel="noopener">
                        <img class="img-fluid ls-is-cached lazyloaded" src="https://www.gitam.edu/campus_cms/assets/images/1613543759_admission.png" title="Physiotherapy " alt="GITAM admisions images">
                    </a>
                    <h5>
                        <a href="https://gat.gitam.edu/Physiotherapy/" target="_blank" rel="noopener"><span>Physiotherapy </span></a>
                         <br>Bachelor of Physiotherapy                         </h5>
                </li>
                <li>
                    <a href="https://kautilya.org.in/" target="_blank" rel="noopener">
                        <img class="img-fluid ls-is-cached lazyloaded" src="https://www.gitam.edu/campus_cms/assets/images/1630316471_admission.png" title="Public Policy" alt="GITAM admisions images">
                    </a>
                    <h5>
                        <a href="https://kautilya.org.in/" target="_blank" rel="noopener"><span>Public Policy</span></a>
                         <br>Master’s in Public Policy (MPP)*                        </h5>
                </li>
                <li>
                    <a href="https://gat.gitam.edu/science/" target="_blank" rel="noopener">
                        <img class="img-fluid ls-is-cached lazyloaded" src="https://www.gitam.edu/campus_cms/assets/images/1556536604_admission.png" title="Science " alt="GITAM admisions images">
                    </a>
                    <h5>
                        <a href="https://gat.gitam.edu/science/" target="_blank" rel="noopener"><span>Science </span></a>
                         <br>BCA, BEM, B. Sc., B. Sc. (Hons.), M. Sc., MCA                        </h5>
                </li>
                <!-- <li>
                    <a href="https://gimsr.gitam.edu/" target="_blank" rel="noopener">
                        <img class="img-fluid ls-is-cached lazyloaded" src="https://www.gitam.edu/campus_cms/assets/images/1653647824_admission.png" title="Medical Sciences" alt="GITAM admisions images">
                    </a>
                    <h5>
                        <a href="https://gimsr.gitam.edu/" target="_blank" rel="noopener"><span>Medical Sciences</span></a>
                         <br>MBBS, MD/MS                        </h5>
                </li> -->
            </ul>
        </div>
        <form action="/register" method="post">
            <div class="apply">
                <button style = "font-size: 25px; color: white;">Apply Now</button>
            </div>
        </form>
        
    </div>
</body>
</html>